.uploader {
  overflow: hidden;
  clear: both;
  width: 100px;
}
.uploader .btn {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.uploader .uploader-browse input {
  border: none;
  outline: none;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 100px;
  position: absolute;
  cursor: pointer;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
}
.uploader .uploader-progress {
  display: none;
}
.uploader .progress {
  margin-bottom: 0 !important;
}
.uploader .uploader-preview-cnt {
  width: 100px;
  margin-top: 15px;
  overflow: hidden;
  clear: both;
}
.uploader .uploader-delete {
  background: #f38083;
  color: #fff;
  cursor: pointer;
  float: left;
  width: 100%;
  text-align: center;
}
.uploader .uploader-delete span {
  line-height: 30px;
}
.uploader .uploader-preview {
  float: left;
  clear: both;
  width: 100%;
}
.uploader .uploader-preview img {
  max-width: 100%;
  max-height: 100%;
}
#modal-crop {
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  margin: 25px;
  overflow: hidden;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#modal-crop .modal-crop-body {
  padding: 15px;
}
#modal-crop .uploader-crop {
  display: block;
  position: relative;
}
#modal-crop .modal-crop-upload {
  display: block;
  margin: 15px auto 0;
}

.uploader-delete{
    display: none;
}
