.uploader {
  display: block;
  overflow: hidden;
  width: 100%;
}
.uploader .uploader-controls {
  margin-bottom: 15px;
}
.uploader .uploader-browse {
  overflow: hidden;
  position: relative;
  width: 200px;
}
.uploader .uploader-browse input {
  border: none;
  outline: none;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 100px;
  position: absolute;
  cursor: pointer;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
}
.uploader .uploader-dnd {
  background: #cccccc;
  display: block;
  height: 60px;
  width: 200px;
  line-height: 60px;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 3px dashed #999;
}
.uploader .progress {
  margin-bottom: 0 !important;
}
.uploader .uploader-file-tpl,
.uploader .uploader-file {
  margin-top: 15px;
  text-align: center;
}
.uploader .uploader-file-tpl img,
.uploader .uploader-file img {
  display: inline-block;
  margin-bottom: 5px;
}
.uploader .uploader-file {
  position: relative;
}
.uploader .uploader-file-progress {
  position: absolute;
  top: 40px;
  width: 100%;
}
.uploader .delete-image {
  color: #db7878;
}
